body {
    background: #325A95;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 80px;
    text-align: center;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.button {
    width: 420px;
    margin: 10px auto;
    background: white;
    border-radius: 20px;
}

ul.photos {
    margin: 0;
    padding: 0;
}

ul.photos li {
    width: 120px;
    float: left;
    list-style-type: none;
}

ul.photos li img {
    width: 100px;
    border: 1px solid white;
}
